html {
  height:100%;
}

body {
  margin:0 auto;
  height:100%;
  background-color:#dbe0e0;
  overflow: hidden;
}

h2 {
  font-family: Arial, Times, Sans-serif;
}

textarea {
  width:400px;
  height:400px;
}

#btn {
  margin-top: 20px;
  background-color: #383838;
  border:1px solid #383838;
  color: #ffffff;
  font-family: Arial,Times,Sans-serif;
  font-size: 24px;
}

#container {
  text-align: center;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#telecontainer {
  font-family: "Patua One",Arial;
  font-size:46px;
  font-weight: bolder;
  color:gold;
  text-align:left;
  animation: prompting 8s -4s; /*negative delay to trigger animation immediately*/
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
  animation-timing-function: linear;

}

@keyframes prompting {
  from {
    margin-top:100%;
  }
  to {
    margin-top:-10%;
  }
}

@-webkit-keyframes prompting {
  from {
    margin-top:100%;
  }

  to {
    margin-top:-10%;
  }
}

@-moz-keyframes falling {
  from {
    margin-top:100%;
  }

  to {
    margin-top:-10%;
  }
}
