body {
  background-color:#c0d6e4;
  color:#333333;
  margin:0 auto;
  font-family:helvetica;
  text-align:center;
}

.bttnstyle {
  background-color:#0066cc;
  color:#ffffff;
  width:75px;
  height:50px;
  font-size:16px;
}

.infostyle {
  color:#333333;
  font-size:16px;
}

.content {
  display:inline-block;
  vertical-align:middle;
  color:#333333;
  font-size:120px;
}

#after {
  display:none;
}

#display {
  background-color:#ffffff;
  border-top: 1px solid rgba(0,0,0,0.17);
  border-bottom: 1px solid rgba(0,0,0,0.17);
  width:auto;
  height:150px;
}
