html {
  height:100%;
}

body {
  height:100%;
  background-color: #9ba7ac;
  margin:0 auto;
  overflow: hidden;
}

img {
  cursor:pointer;
}

h2 {
  text-align: center;
  font-family: "Libre Baskerville",Arial;
  color: #464344;
  visibility: hidden;
}

a {
  color: orange;
}

#imgcontainer {
  text-align: center;
}

#masterdrop {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.dropcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightcontainer {
  border-spacing: 2px;
  border: 2px solid orange;
}

.dropbox {
  width:300px;
  height:202px;
  background-color: #464344;
  margin:0.5px 0.5px;
}
