@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  margin:0 auto;
  padding:0;
  background-color:#f5f5dc;
}
#container1 {
  text-align: center;
  background-color:#28ae7b;
}

#container2 {
  text-align:center;
}

h1 {
  margin:0; /*This is here to remove space between top of screen and container*/
  font-family:"Droid Sans",Sans-serif;
  font-size:42px;
  color:#f5fffa;
}
p {
  font-family:"Droid Sans";
  font-size:30px;
  color:#f5fffa;
}

button {
  background-color:#ff8c00;
  color:#f5fffa;
}
