body {
  overflow:hidden;
  background-color: #fcfbe3;
}

h1 {
  margin:50px;
  font-family:"Lato",Sans-serif;
  font-size:42px;
}

#submit {
  margin-top:25px;
  padding:15px;
  border-radius:5px;
  background-color:#b61742;
  font-family:"Lato",Sans-serif;
  font-size: 36px;
  color:#FFFFFF;
}
