p {
  font-family:Arial,Sans-serif;
  font-size:20px;
}


#ball {
  margin:0 auto;
  background-color:#990000;
  border-radius:50%;
  width:150px;
  height:150px;
  -webkit-animation: bounce 12s infinite;
  -moz-animation: bounce 12s infinite;
  -o-animation: bounce 12s infinite;
  animation: bounce 12s infinite;
}


@-webkit-keyframes bounce {
0%   {margin-top: 0px; -webkit-animation-timing-function: ease-in;}
11%  {width: 120px;}
12%  {margin-top: 500px; width: 135px; -webkit-animation-timing-function: ease-out;}
13%  {width: 120px;}
25%  {margin-top: 0px; -webkit-animation-timing-function: ease-in;}
36%  {width: 120px;}
37%  {margin-top: 500px; width: 135px; -webkit-animation-timing-function: ease-out;}
38%  {width: 120px;}
49%  {margin-top: 0px; -webkit-animation-timing-function: ease-in;}
60%  {width: 120px;}
61%  {margin-top: 500px; width: 135px; -webkit-animation-timing-function: ease-out;}
62%  {width: 120px;}
75%  {margin-top: 0px; -webkit-animation-timing-function: ease-in;}
86%  {width: 120px;}
87%  {margin-top: 500px; width: 135px; -webkit-animation-timing-function: ease-out;}
88%  {width: 120px;}
100% {margin-top: 0px; -webkit-animation-timing-function: ease-in;}
}

@-moz-keyframes bounce {
0%   {margin-top: 0px; -moz-animation-timing-function: ease-in;}
11%  {width: 120px;}
12%  {margin-top: 500px; width: 135px; -moz-animation-timing-function: ease-out;}
13%  {width: 120px;}
25%  {margin-top: 0px; -moz-animation-timing-function: ease-in;}
36%  {width: 120px;}
37%  {margin-top: 500px; width: 135px; -moz-animation-timing-function: ease-out;}
38%  {width: 120px;}
49%  {margin-top: 0px; -moz-animation-timing-function: ease-in;}
60%  {width: 120px;}
61%  {margin-top: 500px; width: 135px; -moz-animation-timing-function: ease-out;}
62%  {width: 120px;}
75%  {margin-top: 0px; -moz-animation-timing-function: ease-in;}
86%  {width: 120px;}
87%  {margin-top: 500px; width: 135px; -moz-animation-timing-function: ease-out;}
88%  {width: 120px;}
100% {margin-top: 0px; -moz-animation-timing-function: ease-in;}
}

@-o-keyframes bounce {
0%   {margin-top: 0px; -o-animation-timing-function: ease-in;}
11%  {width: 120px;}
12%  {margin-top: 500px; width: 135px; -o-animation-timing-function: ease-out;}
13%  {width: 120px;}
25%  {margin-top: 0px; -o-animation-timing-function: ease-in;}
36%  {width: 120px;}
37%  {margin-top: 500px; width: 135px; -o-animation-timing-function: ease-out;}
38%  {width: 120px;}
49%  {margin-top: 0px; -o-animation-timing-function: ease-in;}
60%  {width: 120px;}
61%  {margin-top: 500px; width: 135px; -o-animation-timing-function: ease-out;}
62%  {width: 120px;}
75%  {margin-top: 0px; -o-animation-timing-function: ease-in;}
86%  {width: 120px;}
87%  {margin-top: 500px; width: 135px; -o-animation-timing-function: ease-out;}
88%  {width: 120px;}
100% {margin-top: 0px; -o-animation-timing-function: ease-in;}
}

@keyframes bounce {
0%   {margin-top: 0px; animation-timing-function: ease-in;}
11%  {width: 120px;}
12%  {margin-top: 500px; width: 135px; animation-timing-function: ease-out;}
13%  {width: 120px;}
25%  {margin-top: 0px; animation-timing-function: ease-in;}
36%  {width: 120px;}
37%  {margin-top: 500px; width: 135px; animation-timing-function: ease-out;}
38%  {width: 120px;}
49%  {margin-top: 0px; animation-timing-function: ease-in;}
60%  {width: 120px;}
61%  {margin-top: 500px; width: 135px; animation-timing-function: ease-out;}
62%  {width: 120px;}
75%  {margin-top: 0px; animation-timing-function: ease-in;}
86%  {width: 120px;}
87%  {margin-top: 500px; width: 135px; animation-timing-function: ease-out;}
88%  {width: 120px;}
100% {margin-top: 0px; animation-timing-function: ease-in;}
}
